<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="/img/weather.png">
    <link href="/css/style.css" rel="stylesheet">
    <title>Weather-App</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Chintan Bhayani. It uses data from map-box to get the forecast.</p>
    </div>
    {{>footer}}
</body>
</html>